@keyframes fadeIn {
    0%{
        opacity : 0
    }
    100%{
        opacity : 1
    }
}
@keyframes fadeInSlight {
    0%{
        opacity : 0.5
    }
    100%{
        opacity : 1
    }
}
@keyframes fadeOut {
    0%{
        opacity : 1
    }
    100%{
        opacity : 0
    }
}
@keyframes fadeOutSlight {
    0%{
        opacity : 1
    }
    100%{
        opacity : 0.5
    }
}


 
@keyframes lively_emerge {
    0%{
        opacity: 0;
        transform: scale(.7);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes lively_emerge2 {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInAndOut {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes SlidefadeInAndOut {
    0%{
        opacity: 0;
        transform: translate(0,50%);
    }
    10%{
        opacity: 1;
        transform: translate(0,10%);
    }
    70%{
        opacity: 1;
        transform: translate(0,0);
    }
    100%{
        opacity: 0;
        transform: translate(0,0);
    }
}

@keyframes SlidefadeIn {
    0%{
        opacity: 0;
        transform: translate(0,50%);
    }
    20%{
        opacity: 1;
        transform: translate(0,10%);
    }
    100%{
        opacity: 1;
        transform: translate(0,0);
    }
}
 
