.bg{
  width: 100vw;
  height: 100vh;
}
.set_up{
  position: absolute; right: 5vw;top: 5vh;
  width: 15vw;
  height: 15vw;
  color: rgb(225, 225, 225);
  transition: all .4s;
}
.set_up img{
  width: 100%;
  height: 100%;
}
.set_up .text{
  position: absolute; top: 0; left: 0;
  width: 15vw;
  height: 15vw;
  text-align:center;
  line-height: 15vw;
  font-size: 2vw;
  font-weight: bold;
}
.set_up.active{
  opacity: 0;
  transform: translateX(21vw) rotate(70deg);
}
.set_up.touch{
  color: rgb(118, 0, 0);
  transform: scale(.7);
}

.warrior_container {
  position: absolute;
  top: 15vh;
  left: 0;
  height: 0vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0;
  transition: all .6s;
  z-index: -1;
}
.warrior_container.active{

  height: 70vh;
  z-index: 1;
  opacity: 1;
}

.warrior_card {
  float: left;
  position: relative;
  margin: 2vw 0 5vw 2vw;
  width: 17.6vw;
  height: 26.4vw;
  background: white;
  /* animation: emergeSlide 0.5s ease-out 1; */
}
@keyframes emergeSlide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.warrior_card:nth-of-type(1),
.warrior_card:nth-of-type(2),
.warrior_card:nth-of-type(3),
.warrior_card:nth-of-type(4),
.warrior_card:nth-of-type(5) {
  animation-delay: -0.3s;
}
.warrior_card:nth-of-type(6),
.warrior_card:nth-of-type(7),
.warrior_card:nth-of-type(8),
.warrior_card:nth-of-type(9),
.warrior_card:nth-of-type(10) {
  animation-delay: -0.25s;
}
.warrior_card:nth-of-type(11),
.warrior_card:nth-of-type(12),
.warrior_card:nth-of-type(13),
.warrior_card:nth-of-type(14),
.warrior_card:nth-of-type(15) {
  animation-delay: -0.2s;
}
.warrior_card:nth-of-type(16),
.warrior_card:nth-of-type(17),
.warrior_card:nth-of-type(18),
.warrior_card:nth-of-type(19),
.warrior_card:nth-of-type(20) {
  animation-delay: -0.15s;
}
.warrior_card .arm {
  position: absolute;
  bottom: 0.2vw;
  right: 0.3vw;
  width: 4vw;
  height: 4vw;
}
.warrior_card .arm img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.warrior_card .arm .arm_num {
  position: absolute;
  top: 1.5vw;
  left: 2.3vw;
  display: inline-block;
  width: 2vw;
  height: 2vw;
  line-height: 2vw;
  text-align: center;
  color: white;
  font-size: 1.7vw;
}
.warrior_card .camp {
  position: absolute;
  left: 0;
  top: 0;
  width: 3.5vw;
  height: 3.5vw;
}
.warrior_card .camp img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.warrior_card .dark_tape {
  position: absolute;
  top: 0.2vw;
  right: 0.2vw;
  width: 17.2vw;
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
  height: 3.4vw;
}
.warrior_card .red_list {
  position: absolute;
  top: 0.5vw;
  right: 1.2vw;
  width: 10vw;
  height: 3.4vw;
}
.warrior_card .warrior_sign{
  position: absolute;left: .2vw; bottom: 3vw;
  width: 4.5vw;
  height: 4.5vw;
}
.warrior_card .warrior_sign img{
  position: absolute; left: 0; top: 0;
  width: 100%;
  height: 100%;
}
.warrior_card .red_list img {
  float: left;
  margin-left: 0;
  width: 2vw;
  height: 2vw;
}
.warrior_card .img_card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.warrior_mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  line-height: 26vw;
  font-size: 3vw;
  color: #4b4b4b;
}
.cost_img {
  position: absolute;
  left: 50%;
  bottom: 0.5vw;
  width: 4vw;
  height: 2vw;
  margin-left: -2vw;
}
.up_mark,
.work_mark,
.up_work_mark {
  position: absolute;
  right: -2.5vw;
  top: -2.5vw;
  width: 5vw;
  height: 5vw;
  transition: all 0.2s;
}
.back_home_btn {
  position: absolute;
  top: 6vh;
  right: 10vw;
  width: 7vw;
  height: 7vw;
  font-size: 6vw;
  color: rgb(221, 221, 221);
  text-align: center;
  line-height: 7vw;
  z-index: 2;
}
.back_home_btn img{
  position: absolute; left: 0; top : 0;
  width : 100%; height : 100%;
}
.black_mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;
}
.select_warrior_card {
  position: absolute;
  left: 50%;
  top: -3vw;
  width: 20vw;
  height: 30vw;
  margin: 0 0 0 -10vw;
  box-shadow: 1px 2px 5px black;
  animation: slideFromBottomSmall 0.3s 1;
}
.select_warrior_card .arm {
  position: absolute;
  bottom: 0.2vw;
  right: 0.3vw;
  width: 4.2vw;
  height: 4.2vw;
}
.select_warrior_card .arm img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.select_warrior_card .arm .arm_num {
  position: absolute;
  top: 1.5vw;
  left: 2.3vw;
  display: inline-block;
  width: 2vw;
  height: 2vw;
  line-height: 2vw;
  text-align: center;
  color: white;
  font-size: 1.7vw;
}
.select_warrior_card .camp {
  position: absolute;
  left: 0.1vw;
  top: 0.1vw;
  width: 4vw;
  height: 4vw;
}
.select_warrior_card .camp img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.select_warrior_card .dark_tape {
  position: absolute;
  top: 0.2vw;
  right: 0.2vw;
  width: 17.2vw;
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
  height: 3.4vw;
}
.select_warrior_card .red_list {
  position: absolute;
  top: 0.5vw;
  right: 1vw;
  width: 10vw;
  height: 3.4vw;
}
.select_warrior_card .red_list img {
  float: left;
  margin-left: 0;
  width: 2vw;
  height: 2vw;
}
.select_warrior_card .img_card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.select_warrior_card .cost_img {
  position: absolute;
  left: 50%;
  bottom: 0.5vw;
  width: 4vw;
  height: 2vw;
  margin-left: -2vw;
}
.select_warrior_card .up_mark,
.select_warrior_card .work_mark,
.select_warrior_card .up_work_mark {
  position: absolute;
  right: -2.5vw;
  top: -2.5vw;
  width: 5vw;
  height: 5vw;
}




.bg_han{
  background:linear-gradient(to left top,black,rgb(183, 18, 208));
}
.bg_qun{
  background:linear-gradient(to left top,black,rgb(142, 142, 142));
}
.bg_shu{
  background:linear-gradient(to left top,black,rgb(6, 130, 19));
}
.bg_wu{
  background:linear-gradient(to left top,black,rgb(181, 16, 16));
}
.bg_wei{
  background:linear-gradient(to left top,black,rgb(8, 89, 219));
}
