*{
    margin: 0;
    padding:0 ;
}

.wonder-style-streamer{
    position: relative;
    background:linear-gradient(to right,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-position: 0% 0%;
    background-size: 400%;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 15px;
    text-align: center;
    line-height: 36px;
    border-radius: 18px;
    color: white;
    cursor: pointer;
    z-index: 2;
    user-select: none;
}
.wonder-style-streamer::before{
    content: '';
    position: absolute;
    left: -5px;top: -5px;right: -5px;bottom: -5px;
    border-radius: 20%;
    z-index: -1;
    background:linear-gradient(to right,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 50%;
    filter: blur(20px);
    user-select: none;
}
.wonder-style-streamer:hover{
    animation: wonder-bg_move 8s linear infinite;
}
.wonder-style-streamer:hover::before{
    animation: wonder-bg_move 8s linear infinite;
}

@keyframes wonder-bg_move {
    0%{
     background-position: 0% 0%;
    }
    100%{
     background-position: -400% 0%;
    }
 }

/* 玻璃板效果 */
.wonder-style-glass{
    position: relative;
    width: 100px;
    height: 36px;
    font-size: 15px;
    text-align: center;line-height: 36px;
    border-radius: 18px;
    cursor: pointer;
    text-align: center;
    color: white;
    background: #ececec36;
    box-shadow: 2px 3px 5px rgb(78, 78, 78);
    border-top: 1px solid rgb(214, 214, 214);
    border-bottom: 1px solid rgb(214, 214, 214);
    transition: all .2s;
    overflow: hidden;
}
.wonder-style-glass::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background:linear-gradient(to right,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.15));
    transform: skew(35deg) translateX(0);
    transition: all .3s;
}

.wonder-style-glass:hover{
    letter-spacing: 1px;
}
.wonder-style-glass:hover::before{
    transform: skew(35deg) translateX(100%);
}


/* 科技感 */
.wonder-style-tech{
    background: transparent;
    color: #00b7ff;
    letter-spacing: 1px;
    transition: all .2s;
    z-index: 2;
    width: 100px;
    height: 36px;
    font-size: 15px;
    text-align: center;
    line-height: 36px;
    border-radius: 18px;
    cursor: pointer;
    border: 1px solid #00b7ff;
    user-select: none;
}
.wonder-style-tech::before{
    opacity: 0;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #03e9f4;
    filter: blur(20px);
    transition: all .2s;
    z-index: -1;
    user-select: none;
}

.wonder-style-tech:hover{
    background: #03e9f4;
    box-shadow: 0 0 10px #03e9f4;
    color: white;
    border: 1px solid white;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}
.wonder-style-tech:hover::before{
    opacity: 1;
}




/* 弹性效果 */
.wonder-style-jelly{
    width: 100px;
    height: 36px;
    font-size: 15px;
    text-align: center;
    line-height: 36px;
    color: white;
    background: linear-gradient(to right,rgb(0, 194, 0),green);
    transition: all .2s;
    cursor: pointer;
}
.wonder-style-jelly:hover,.wonder-style-jelly:focus{
    animation: wonder_jelly .4s linear 1;
}
@keyframes wonder_jelly {
   20%{
    transform: skewX(30deg);
   }
   35%{
    transform: skewX(0);
   }
   50%{
    transform: skewX(-20deg);
   }
   62%{
    transform: skewX(0);
   }
   72%{
    transform: skewX(10deg);
   }
   80%{
    transform: skewX(0);
   }
   100%{
      
   }
}



